body {
    background: black;
    color: gray;
    padding-bottom: 200px;
}

summary {
  margin: 10px 0px 10px 50px;
  cursor: pointer;
  color: red;
}


/* details[open] > summary:after {
    content: " Opened";
} */

/* details[open] > summary::marker {
    display: none;
    content: "Open ";
} */

/* summary::before {
  content: "▲"; 
  display: inline-block;
  margin-right: 8px; 
} */


.container_1, .container_1 div {
  border-radius: 5px;
}

.root .container_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px 30px;
  border: solid brown;
  padding: 5px;

}

.container_1 .content {
  display: grid;
  width: auto;
  padding: 10px;
  border: solid green;
}

.container_1 .box {
  padding: 50px;
  border: solid;
  background: blue;
  width: 100px;
  max-width: 100px;
  justify-self: end;
}

.container_1 .box_3, .container_1 .box_4 {
  justify-self: start;
} 


.container_1 .content:nth-child(4n - 3),
.container_1 .content:nth-child(4n) {
  background-color: #A3CBE1;
}

.container_1 .content:nth-child(4n - 2),
.container_1 .content:nth-child(4n - 1) {
  background-color: #D7849A;
}


/* 2º */

.container_2, .container_2 div {
  border-radius: 5px;
}

.container_2 .content {
  min-height: 200px;
  height: auto;
}

.container_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 4);
  row-gap: 10px;
  column-gap: 20px;
}

.container_2 .content {
    border: solid darkred 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    padding: 10px;
}

.container_2 .box {
    padding: 50px 50px;
    width: 100px;
    max-width: 100px;
    max-height: 50px;
    border: solid darkgreen;
}

.container_2 .box_1 {
  justify-self: start;
}

.container_2 .box_1_2 {
  justify-self: end;
  border: solid yellow;
}

.container_2 .box_2 {
  justify-self: end;
}

.container_2 .box_2_2 {
  justify-self: start;
  border: solid yellow;
}

.container_2 .box_3 {
  justify-self: end;
  border: solid yellow;
}

.container_2 .box_3_2 {
  justify-self: start;
}

.container_2 .box_4 {
  justify-self: start;
  border: solid yellow;
}

.container_2 .box_4_2 {
  justify-self: end;
}

/*  */

.container_2 .content_5 {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: flex-start;
}

.container_2 .content_6 {
  display: flex;
  flex-direction: columns;
  justify-content: flex-end;
  align-items: center;
}

.container_2 .content_7 {
  display: flex;
  flex-direction: columns;
  justify-content: flex-start;
  align-items: center;
}

.container_2 .content_8 {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: end;
}

.container_2 .content:nth-last-child(-n+4) {
  border: solid #E7D20D;
}

.container_2 .content:nth-last-child(-n+4) .box {
 background: blue;
}
/*  */

.container_2 .content:nth-child(4n - 3),
.container_2 .content:nth-child(4n) {
  background-color: #FBA04B;
}

.container_2 .content:nth-child(4n - 2),
.container_2 .content:nth-child(4n - 1) {
  background-color: #94D91C;
}

/* 3º */

.container_3 {
  display: flex;
 flex-direction: column;
 justify: center;
 align-items: strech;
 gap: 10px;
 border: solid darkgreen;
 padding: 10px;
}

.container_3, .container_3 > div {
  border-radius: 5px;
}

.container_3 div {
 padding: 20px;
 border: solid blue;
 display: flex;
 flex-direction: row;
 gap: 10px;

}

.container_3 .content_1 {
 padding: 10px;
 display: grid;
 grid-template-columns: 40% auto;
 grid-template-rows: 1fr;
 gap: 50px;
 min-height: 550px;
 border: solid yellow;
 padding: 20px;

}


.container_3 .content_1 .box1  {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: solid #B5179E;
  padding: 20px;
}

.container_3 .content_1 .box1 .contentBox1 {
 width: 100%;
 box-sizing: border-box;
 height: 200px;
}


.container_3 .content_1 .box_1_2 {
 display: grid;
  grid-template-areas:
 'a a . b b'
 'c c c c c'
 'd d . e e';
 gap: 20px;
}

.container_3 .content_1 .box_1_2 > div {
 border-radius: 20%;
}

.box_1_2 .contentBox1 {
  grid-area: a;
}

.box_1_2 .contentBox2 {
  grid-area: b;
}

.box_1_2 .contentBox3 {
  grid-area: c;
  border-radius: 80px !important;
}

.box_1_2 .contentBox4 {
  grid-area: d;
}

.box_1_2 .contentBox5 {
  grid-area: e;
}

/*  */

.container_3 .content_2 {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 box-sizing: border-box;
}

.container_3 .box2 {
  display: grid;
  grid-template-areas:
  'a a a a'
  'b b c c'
  '. . . .'
  '. . . .';
  gap: 30px;
  width: 100%;
  padding: 30px;
  min-height: 150px;
  border: solid darkred;
}

.container_3 .content_2 .contentBox1 {
  grid-area: a;
}

.container_3 .content_2 .contentBox2 {
  grid-area: b;
  border-radius: 40px;
}

.container_3 .content_2 .contentBox3 {
  grid-area: c;
  border-radius: 40px;
}

/*  */

.container_3 .box_1_2 .contentBox:nth-child(4n - 3) {
  background-color: #9B9B7A;
}

.container_3 .box_1_2 .contentBox:nth-child(3n) {
  background-color: #CB8352;
}


.container_3 .box_1_2 .contentBox:nth-child(5n - 1) {
  background-color: #7A6352;
}

.container_3 .box_1_2 .contentBox:nth-child(5n - 3) {
  background-color: #7A6352;
}

/* 
.container_3 .box_1_2 .contentBox:nth-child(4n - 2),
.container_3 .box_1_2 .contentBox:nth-child(4n - 1) {
  background-color: #94D91C;
} */

